{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block stylesheets %}
    <style>
        body {
            max-width: 60%;
            margin: auto;
            margin-top: 60px;
        }

        .avatar {
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Hello, Group Stadline</h1>

    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Search a user from GitHub" required
                   autofocus>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    <br>
    {% if gitHubUsers %}
        <table class="table">
            <thead>
            <tr>
                <th>Avatar</th>
                <th>Id</th>
                <th>Login</th>
                <th>Action(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for gitHubUser in gitHubUsers %}
                <tr>
                    <td>
                        <img src="{{ gitHubUser.avatar_url }}" class="avatar img-fluid" style="max-height: 6rem"
                             alt="None">
                    </td>
                    <td>{{ gitHubUser.id }}</td>
                    <td>{{ gitHubUser.login }}</td>
                    <td>
                        <a href="{{ path('comment_new', {'username': gitHubUser.login}) }}">Add new comment</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}